/* Wygląd dla komputerów */
body {
    background-color: rgb(27, 27, 27);
    margin: 0;
    width: 100%;
}

#topbar {
    color: rgb(189, 189, 189);
    text-align: center;
    width: 100%;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 35px;
    padding-bottom: 15px;
}

#topbar h1 {
    font-size: 200%;
}

#profile_photo {
    width: 100%;
    text-align: center;
}

#profile_photo img {
    width: 20%;
    height: auto;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(86, 105, 83, 0.2);
    border-width: 15px;
}

#nick_names {
    width: 100%;
    margin-top: 2%;
    text-align: center;
    color: whitesmoke;
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 180%;
}

#description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(63, 133, 133);
}

.title_description {
    background-color: rgba(38, 85, 85, 0.281);
    padding-left: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    color: rgb(93, 206, 206);
    border-bottom: rgb(63, 133, 133) dotted;
}

.title_description h2 {
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    margin: 0;
}

.description_paragraf {
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    color: rgb(236, 236, 236);
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 130%;
}

#web_projects {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(63, 133, 63);
}

.title_web_projects {
    padding-left: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgba(43, 85, 38, 0.281);
    color: rgb(116, 206, 93);
    border-bottom: rgb(63, 133, 63) dotted;
}

.title_web_projects h2 {
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    margin: 0;
}

.web_projects_paragraf  {
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    color: rgb(236, 236, 236);
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 130%;
}

.web_projects_paragraf_img {
    width: 100%;
    text-align: center;
}

.web_projects_paragraf_img p {
    width: 97%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.web_projects_open_graph_banners {
    width: 97%;
    height: auto;
}

.web_projects_link {
    color: rgb(93, 206, 206);
    text-decoration: none;
}

#web_projects_paragraf_images  {
    width: 100%;
    display: flex;
}

#contact {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 120px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(107, 63, 133);
}

.title_contact {
    padding-left: 1%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgba(72, 38, 85, 0.281);
    color: rgb(146, 93, 206);
    border-bottom: rgb(107, 63, 133) dotted;
}

.title_contact h2 {
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 180%;
    margin: 0;
}

.contact_paragraf  {
    padding-top: 1.5%;
    padding-left: 1%;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
    color: rgb(236, 236, 236);
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 130%;
}

.contact_paragraf a {
    color: rgb(93, 206, 206);
    text-decoration: none;
}

footer {
    width: 100%;
    text-align: center;
    color: rgb(189, 189, 189);
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(27, 27, 27);
}

/* Wygląd dla urządzeń mobilnych */
@media (max-width: 768px) {
    #topbar {
        padding-top: 6%;
        padding-bottom: 1%;
    }

    #topbar h1 {
        font-size: 150%;
    }

    #profile_photo {
        margin-top: 4%;
    }

    #profile_photo img {
        width: 50%;
        height: auto;
        border-width: 10px;
    }

    #nick_names {
        font-size: 110%;
        margin-top: 4%;
    }

    #description {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .title_description {
        padding-top: 7%;
        padding-left: 3.5%;
        padding-bottom: 6%;
    }

    .title_description h2 {
        font-size: 120%;
    }

    .description_paragraf {
        font-size: 105%;
        padding-top: 6%;
        padding-left: 3.5%;
        padding-right: 3.5%;
    }

    #web_projects {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .title_web_projects {
        padding-top: 7%;
        padding-left: 3.5%;
        padding-bottom: 6%;
    }

    .title_web_projects h2 {
        font-size: 120%;
    }

    .web_projects_paragraf {
        font-size: 105%;
        padding-top: 6%;
        padding-left: 3.5%;
        padding-right: 3.5%;
    }

    .web_projects_paragraf_img {
        text-align: left;
    }

    .web_projects_open_graph_banners {
        width: 100%;
    }

    #web_projects_paragraf_images  {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .web_projects_paragraf_img {
        padding-bottom: 5%;
    }

    #contact {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .title_contact {
        padding-top: 7%;
        padding-left: 3.5%;
        padding-bottom: 6%;
    }

    .title_contact h2 {
        font-size: 120%;
    }

    .contact_paragraf {
        font-size: 105%;
        padding-top: 6%;
        padding-left: 3.5%;
        padding-right: 3.5%;
    }

    footer {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
